table , table th, table td , table tr{

    border: 1px solid black;
    border-collapse: collase;
    text-align: center;
}
.bad{
    background-color: rgb(255, 153, 255);
}
.good{
    background-color: rgb(204, 255, 204);
}
fieldset {
    display: inline;
    margin: 1em;
    padding: 1em;
}
